body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.ml-5 {
    margin-left: 50px;
}

.mr-5 {
    margin-right: 50px;
}

.header {
    overflow: hidden;
    background-color: #ffde59;
    font-size: 13px;
    display: flex;
    position: relative;
}

.header-right {
    position: absolute;
    right: 0;
}

.header-left {
    display: flex;
}

.img-sm {
    margin-top: 18px;
    margin-left: 3px;
    width: 17px;
    height: 17px;
}

.fw-500 {
    font-weight: 500;
}

.side-nav {
    height: 100%;
    width: 10%;
    background-color: #ffde59;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 1; /* Stay at the top */
    text-align: center;
    text-decoration: none;
    font-size: small;
}

.side-nav-link {
    color: black;
}

.menu-header {
    text-decoration: underline;
    color: #004AAD;
}

.btn {
    font-weight: 500;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid black;
}

.btn-logout {
    margin-top: 13px;
    background-color: #ff914d;
    padding: 8px 20px;
}