.nav-link {
    text-decoration: none !important;
    color: #004AAD;
}

h3.ml-2 {
    margin-left: 20px;
}

.yellowbox {
    background-color: #FFF2BF;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}